---
import Layout from "../layouts/Layout.astro";
import Bbdd from "./bbdd.astro";
---
<Layout title="Asignaturas">
<a href="/bbdd"><button class=""id="nombres-a">Bases de datos</button></a>
<div id="nombres-a">Programación</div>
<div id="nombres-a">Fun Com Nub</div>

</Layout>
<style>
    #nombres-a{
        border: 1px solid white;
        color: white;
        width: 200px;
        border-radius: 10px;
        text-align: center;
        margin-top: 1em;
        margin-left: ;
        

    }
    #nombres-a:hover{
        color: rgb(136, 57, 173);
        background-color: white;
        transition: 600ms;
    }
</style>